
#error_system a.cleanlink {
	 background-color:transparent;
	font-style: italic;
}

#error_format,  #error_data, #error_system {
    background-color: #FFFFCC;
}

#error_format a, #error_format .field-label, #error_data a, #error_data .field-label, #error_system a, #error_system .field-label {
	color: #FF741C;
    font-family: "Lucida Grande","Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 1.2;
    padding-top: 15px;
}
#error_format a, #error_data a, #error_system a {background-color:#FFFFFF;}

 #warning_data a, #warning_data .field-label, #warning_data a, #warning_data .field-label {
	color: #FFCC00;
    font-family: "Lucida Grande","Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 1.2;
    padding-top: 15px;
}
#summary_import{
    background-color:#BDD0F1;
}
#summary_import a{
	background-color:#FFFFFF;
}
#summary_import a, #summary_import .field-label {
	color: #003EAC;
    font-family: "Lucida Grande","Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 1.2;
    padding-top: 15px;
}

.import_check {
    background-color: #BDD0F1;
    border: 1px solid;
    color: #003EAC;
    font-family: "Lucida Grande","Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 1.2;
    margin-top: 50px;
    margin-bottom: 15px;
    padding: 10px;
    text-align: center;
}
